.navLink:nth-of-type(3),
.navLink:hover {
    color: #a8c7fa;
    backdrop-filter: brightness(120%);
}
.heading {
    opacity: 0;
    text-align: center;
    padding: 5vmax;
    padding-bottom: 0;
    margin: 0;
    font-size: 6vmax;
    font-family: "Delius Swash Caps", cursive;
    font-weight: normal;
    animation-name: fadeinHeading;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes fadeinHeading {
    0% {
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.project_tiles {
    opacity: 0;
    border: solid #a8c7fa;
    width: 55vw;
    padding: 5vmax;
    border-radius: 3vmax;
    margin: 5vmax auto;
    background: rgba(0, 80, 150, 0.5);
    animation-name: fadeinContent;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes fadeinContent {
    100% {
        opacity: 1;
    }
}
h2 {
    font-size: 4vmax;
    margin-top: 0;
    margin: 0;
    padding-bottom: 3vmax;
    border-bottom: #f8f8f8 solid 0.1px;
    font-weight: normal;
    word-wrap: break-word;
}
h3 {
    font-size: 2.5vmax;
    padding-top: 3vmax;
    padding-bottom: 1vmax;
    margin: 0;
    font-weight: normal;
}
p {
    padding-top: 3vmax;
    font-size: 2.5vmax;
    margin: 0;
}
ul[class^="libUsed-"] {
    font-size: 2vmax;
    margin: 0;
    padding-bottom: 3vmax;
}
button {
    background: rgb(211, 211, 211, 0.5);
    color: #f8f8f8;
    width: 100%;
    border-style: none;
    border: solid #f8f8f8;
    border-radius: 5vmax;
    font-size: 2.5vmax;
    padding: 1vmax;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
button:hover {
    transition: all 0.3s ease 0s;
    color: black;
    background: #f8f8f8;
}
img {
    width: 10vmax;
}
