.navLink:nth-of-type(2),
.navLink:hover {
    color: #a8c7fa;
    backdrop-filter: brightness(120%);
}
.heading {
    opacity: 0;
    text-align: center;
    font-size: 3vmax;
    font-family: "Delius Swash Caps", cursive;
    font-weight: normal;
    padding: 3vmax;
    margin: 0;
    animation-name: fadeinHeading;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes fadeinHeading {
    0% {
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
p,
#prog_lang {
    opacity: 0;
    text-align: center;
    font-size: 1.5vmax;
    line-height: 2.5vmax;
    margin: auto 20vw;
    word-wrap: break-word;
    animation-name: fadeinContent;
    animation-duration: 1.5s;
    animation-delay: 1.25s;
    animation-fill-mode: forwards;
}
@keyframes fadeinContent {
    100% {
        opacity: 1;
    }
}
#prog_lang {
    columns: 300px 2;
    margin: 0 auto;
    width: 35%;
    background: rgba(0, 80, 150, 0.5);
    border-radius: 1vmax;
    padding: 1vmax 3vmax;
}
.lang {
    padding-bottom: 1vmax;
    font-size: 1.5vmax;
    text-align: left;
    width: fit-content;
}

@media screen and (max-width: 768px) {
    .heading {
        font-size: 4vmax;
    }
    p,
    #prog_lang {
        font-size: 2vmax;
        line-height: 3vmax;
        margin: auto 10vw;
    }

    #prog_lang {
        margin: 0 auto;
        width: 35%;
        padding: 1vmax 4vmax;
    }
    .lang {
        padding: 1vmax 0;
        font-size: 2vmax;
    }
}
