@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
html {
    height: 100%;
}
body {
    color: #eaeaea;
    margin: 0;
    padding-bottom: 3vmax;
    font-family: "Open Sans";
    background: linear-gradient(to bottom, #161229, #100d20);

    background-repeat: no-repeat;
    background-attachment: fixed;
}
#navigation {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-size: 1.25vw;
    font-family: "Roboto", sans-serif;
    top: 0;
    position: sticky;
    z-index: 1;
    background: linear-gradient(
        270deg,
        hsla(237, 90%, 11%, 1) 0%,
        hsla(282, 84%, 18%, 1) 33%,
        hsla(316, 93%, 23%, 1) 66%,
        hsla(319, 87%, 30%, 1) 100%
    );
}
#navlist {
    list-style: none;
    padding: 0%;
    width: 100%;
    text-align: right;
    margin: 1.25vmax 0;
}
#navlist li {
    display: inline-block;
    padding: 0%;
    padding-right: 3%;
}
#navlist li a {
    transition: all 0.2s ease 0s;
    color: #eaeaea;
    text-decoration: none;
    padding-bottom: 1.25vmax;
}
#navlist li a:hover {
    color: #a8c7fa;
    border-bottom: solid #a8c7fa;
}
#here {
    color: #a8c7fa !important;
    border-bottom: solid #a8c7fa;
}
.logo {
    margin: 0 3%;
    border-radius: 15%;
    width: 3vw;
}
